<!DOCTYPE html>
<html lang="en">
  <head>
    <title>title_todo</title>
    <meta charset="UTF-8">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <article>{{ content }}</article>
  </body>
</html>